meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Medio ambiente, seguridad y salud en el trabajo
meta(meta name="description" content="En este componente formativo se presenta la legislación legal vigente en términos de medio ambiente, seguridad y salud en el trabajo. Es importante tener en cuenta que la normativa es la base para la ejecución de actividades que promueven lugares de trabajo seguros y el cuidado del medio ambiente.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")