h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Introducci贸n', 'main.html#page/introduccion/')
                    +navTemaItem('2', '1. Legislaci贸n en medio ambiente, seguridad y salud en el trabajo', 'main.html#page/tema-1/')
                    +navTemaItem('3', '2. Herramientas para la gesti贸n de la seguridad y salud en el trabajo', 'main.html#page/tema-2/')
                    +navTemaItem('4', '3. Herramientas para la gesti贸n de medio ambiente', 'main.html#page/tema-3/')