.container
    .header-ecored
        h1 Introducci贸n

    .card.pb-5

        .card-body

            .text-center.mt-5

                img(src="assets/images/pages/introduccion/intro-1.svg").img-fluid

            .text-center
            
                .bg-purple-transparent.p-5.rounded.shadow-sm.col-9.m-auto

                    p.text-left.mb-4 Para el cumplimiento del sistema de gesti贸n de seguridad y salud en el trabajo es necesario conocer el marco normativo, el cual indica la ruta a seguir en el planteamiento y la ejecuci贸n de las actividades para la prevenci贸n de accidentes de trabajo y enfermedad profesional. De la misma manera es el medio para conocer las responsabilidades de los diferentes actores que participan en este proceso, como empleadores y trabajadores.

            br
            br
            br
            br