.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Minagricultura. (2020). Juntos por el campo.
                    
                    td Página web 
                    td 
                        a(href="https://www.minagricultura.gov.co/paginas/default.aspx", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver