include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Arana, F. (1982). Ecología para principiantes. Editorial Trillas.")
        +referenciaItem("Arboleda, J. (2008). Manual para la evaluación de impacto ambiental de proyectos, obras o actividades. Medellín, Colombia.")
        +referenciaItem("Assessment, M. E. (2005). Evaluación de los Ecosistemas del Milenio. Informe de síntesis. Borrador final.", "https://www.millenniumassessment.org/documents/document.439.aspx.pdf")

        +referenciaItem("Becerra, M. R., Mance, H., Barrera, X., & Arbeláez, C. G. (2009). Cambio climático: lo que está en juego. Foro Nacional Ambiental.")
        +referenciaItem("Bermúdez, O. (2016). Educación ambiental, valores y prácticas sustentables: una guía para educadores del siglo XXI. IDEA Universidad Nacional de Colombia. ISBN, 10, 9587757122.")
        +referenciaItem("Convenio sobre la Diversidad Biológica (1992). Naciones Unidas.", "https://www.cbd.int/doc/legal/cbd-es.pdf")
        +referenciaItem("Crisci, J. (2006). Espejos de nuestra época: biodiversidad, sistemática y educación. Gayana. Botánica, 63(1), 106-114.", "http://dx.doi.org/10.4067/S0717-66432006000100006")
        +referenciaItem("CONABIO (2006). Capital natural y bienestar social. Comisión Nacional para el Conocimiento y Uso de la Biodiversidad, México.", "http://www.conabio.gob.mx/2ep/images/3/37/capital_natural_2EP.pdf")

        +referenciaItem("Decreto Ley 2811 de 1974. Por el cual se dicta el Código Nacional de Recursos Naturales Renovables y de Protección al Medio Ambiente. 27 de enero de 1975. D.O. No. 34.243.")
        +referenciaItem("Decreto1072 del 2015. Por medio del cual se expide el Decreto Único Reglamentario del Sector Trabajo. 26 de mayo de 2015. D.O. No. 49.523.")
        +referenciaItem("Decreto 1076 del 2015. Por medio del cual se expide el Decreto Único Reglamentario del Sector Ambiente y Desarrollo Sostenible. 26 de mayo de 2015. D.O. No. 49.523.")
        +referenciaItem("Diputación de Barcelona (s.f.). Contaminación ambiental debida a factores físicos. ", "https://www.diba.cat/es/web/salutpublica/contaminacio-per-factors-fisics")

        +referenciaItem("Earthobservatory (12 de septiembre de 2016). Visualizing the Warmest August in 136 Years. ", "https://earthobservatory.nasa.gov/blogs/earthmatters/2016/09/12/heres-how-the-warmest-august-in-136-years-looks-in-chart-form/")

        +referenciaItem("En Colombia (s.f.) Contaminación Biológica. ", "https://encolombia.com/medio-ambiente/interes-a/contaminacion-biologica/")

        +referenciaItem("Guía Técnica Colombiana GTC 45 (2012). Guía para la identificación de los peligros y la valoración de los riesgos en seguridad y salud ocupacional. ICONTEC.")
        +referenciaItem("IDEAM, IAVH y IIAP (2017). Mapa Ecosistemas Continentales, Costeros y Marinos de Colombia. ", "http://www.ideam.gov.co/documents/11769/222663/PRESENTACION+MAPA+ECOSISTEMAS+version2.1.pdf/0155fd15-1f56-42f6-ab5c-7cfd1957f000")

        +referenciaItem("Ley 1562 de 2012. Por la cual se modifica el sistema de riesgos laborales y se dictan otras disposiciones en materia de salud ocupacional. 11 de julio de 2012. D.O. No. 48.488.")
        +referenciaItem("Llorente-Bousquets, J. y Ocegueda. (2008). Estado del conocimiento de la biota. Capital natural de México, 1(11) 283-3221.", "https://www.biodiversidad.gob.mx/v_ingles/country/pdf/CapNatMex/Vol%20I/I11_Estadoconocimiento.pdf")

        +referenciaItem("Ministerio de Ambiente Vivienda y Desarrollo Territorial (MAVDT) (2010). Folleto Dirección de Ecosistemas.")
        +referenciaItem("Ministerio de Ambiente y Desarrollo Sostenible (2020) Contaminación Atmosférica.", "https://www.minambiente.gov.co/index.php/component/content/article/1801-plantilla-#:~:text=Contaminantes%20Secundarios%3A%20Son%20el%20resultado,qu%C3%ADmicas%20presentes%20en%20el%20aire.&text=El%20contaminante%20prioritario%20monitoreado%20en,sus%20fracciones%20PM10%20y%20PM2.")

        +referenciaItem("Moreno, C. E. 2001. Métodos para medir la biodiversidad. M&T–Manuales y Tesis SEA, vol.1.", "http://entomologia.rediris.es/sea/manytes/metodos.pdf")
        +referenciaItem("Moreno, L., Rueda, C. y Andrade, G. (Eds.). (2018). Biodiversidad 2017. Estado y tendencias de la biodiversidad continental de Colombia. Instituto de Investigación de Recursos Biológicos Alexander von Humboldt.", "http://repository.humboldt.org.co/handle/20.500.11761/34619")

        +referenciaItem("Norma Técnica Colombiana NTC 3701 (2015). Higiene y seguridad. Guía para la clasificación, registro y estadística de accidentes del trabajo y enfermedades profesionales. ICONTEC.", "https://e-collection-icontec-org.bdigital.sena.edu.co/normavw.aspx?ID=2773.")

        +referenciaItem("Observatorio de Conflictos Ambientales (s.f.) (OCA UNAL, 2020).", "http://oca.unal.edu.co/OCA_qs/oca.html")

        +referenciaItem("Organización Internacional de Normalización (2015). Sistemas de gestión ambiental (ISO 14001).")
        +referenciaItem("Resolución 2013 de 1986. Por la cual se reglamenta la organización y funcionamiento de los comités de Medicina, Higiene y Seguridad Industrial en los lugares de trabajo. 6 de junio de 1986. D.O. No. 37.498.")
        +referenciaItem("Rodríguez, J. (2010). Contaminación del agua. Contaminación ambiental en Colombia. Fundación en causa por el desarrollo humano. Fundación en causa por el desarrollo humano.", "https://www.researchgate.net/profile/")
        +referenciaItem("Manuel_Rodriguez26/publication/263925744_La_hidrosfera_El_ciclo_del_agua_La_contaminacion_del_agua_Metodos_de_analisis_y_depuracion_El_problema_de_la_escasez_del_agua/links/5486d67c0cf2ef34478c2e1e/La-hidrosfera-El-ciclo-del-agua-La-contaminacion-del-agua-Metodos-de-analisis-y-depuracion-El-problema-de-la-escasez-del-agua.pdf")

        +referenciaItem("Rodríguez-Eugenio, N., McLaughlin, M y Pennock, D. (2019). La contaminación del suelo: una realidad oculta. FAO.", "http://www.fao.org/3/I9183ES/i9183es.pdf")

        +referenciaItem("Sánchez- Hidalgo, N. (2010). ABC cambio climático: una guía para entender el cambio climático. Asociación Coordinadora Indígena y Campesina de Agroforestería Comunitaria Centroamericana, Moravia (Costa Rica); Oficina Regional para Mesoamérica de la Unión Mundial para la Naturaleza, Moravia (Costa Rica).", "http://rcc.marn.gob.sv/xmlui/handle/123456789/98")

        +referenciaItem("Sarmiento, A., Gélvez, J. y Téllez, J. (2017). Naturaleza y sociedad: relaciones y tendencias desde un enfoque eurocéntrico. Revista Luna Azul, (44), 348-371. ", "https://www.redalyc.org/pdf/3217/321750362021.pdf")

        +referenciaItem("SIAC, (s.f.). Calidad del Agua ", "http://www.siac.gov.co/calidadagua")

        +referenciaItem("Torres, M. (2003). Política nacional de educación ambiental. SINA. Ministerio de Educación y Ministerio de Ambiente Vivienda y Desarrollo Territorial.", "https://www.uco.edu.co/extension/prau/Biblioteca%20Marco%20Normativo/Politica%20Nacional%20Educacion%20Ambiental.pdf")

        +referenciaItem("Torres, M. (2002). Incorporación de la dimensión ambiental en zonas rurales y pequeño urbanas del país. Reflexión y acción: el dialogo fundamental para la educación ambiental. Teoría y práctica Bogotá. MEN-MMA.", "https://www.valledelcauca.gov.co/loader.php?lServicio=Tools2&lTipo=viewpdf&id=22609")

        +referenciaItem("UGR (s.f.). Contaminación del agua conceptos y generalidades.", "https://www.ugr.es/~iagua/LICOM_archivos/PT_Tema1.pdf")

        +referenciaItem("UIB (2003). Prevención de Riesgos Laborales.", "https://www.uib.cat/depart/dqu/dquo/dquo2/MasterSL/ASIG/PDF.old/222CON~2.PDF")

        +referenciaItem("UICN. (23 de Julio de 2020). The UICN red list of threatend species.", "https://www.iucnredlist.org/")

        +referenciaItem("TP (s., f,). ¿Qué es la huella ecológica? ", "https://www.utp.edu.co/centro-gestion-ambiental/informacion-de-interes/que-es-la-huella-ecologica.pdf")

        +referenciaItem("Sistema de Información Biológica. (23 de julio de 2020). Biodiversidad en cifras.", "https://cifras.biodiversidad.co/")

        +referenciaItem("Organización Mundial de la Salud (s.f.). Información básica sobre la contaminación atmosférica urbana.", "https://www.who.int/phe/health_topics/outdoorair/databases/background_information/es/")

        +referenciaItem("WWF (2016). Informe Plantea vivo-2016. Riesgo y Resiliencia en el Antropoceno.", "https://www.wwf.org.co/?282650/Informe-Planeta-Vivo-2016-Riesgo-y-resilencia-en-una-nueva-era")
        +referenciaItem("WWF (2017). Colombia Viva: un país mega diverso de cara al futuro. Informe 2017. Cali: WWF-Colombia.", "https://www.wwf.org.co/?uNewsID=316652")

        +referenciaItem("WWF (2018a). Informe Plantea vivo-2018: Apuntando más alto.", "https://www.wwf.org.co/sala_redaccion/especiales/informe_planeta_vivo_2018/")
            
        +referenciaItem("WWF (2018b). (6 de marzo de 2018).  Glosario ambiental: Servicios ecosistemas… ¿qué?", "https://www.wwf.org.co/?uNewsID=324210")

        +referenciaItem("Wilches-Chaux, G. (2006). Brújula, bastón y lámpara para trasegar los caminos de la educación ambiental. Ministerio de Ambiente, Vivienda y Desarrollo Sostenible, Subdirección de Educación y Participación.", "http://sie.car.gov.co/bitstream/handle/20.500.11786/35711/00419.pdf?sequence=1")


       
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            