.container
    .header-ecored
        h1 3. Herramientas para la gestión de medio ambiente.
    
    .card.pb-5

        .card-body

            .text-center.mt-5.pr-5.pl-5

                img(src="assets/images/pages/tema-3/tema-3-1.svg").img-fluid

                .bg_tema_3.rounded.p-5(style="padding-top: 131px !important;margin-top: -77px;")
                    
                    p.text-left.pl-5.pr-5.mb-4.mt-3 La gestión ambiental es “aquella parte de la gestión empresarial que se ocupa de los temas relacionados con el medio ambiente, contribuyendo a su conservación. Comprenderá, las responsabilidades, las funciones (planificación, ejecución y control), la estructura organizativa, los procesos, los procedimientos, las prácticas y los recursos para determinar y llevar cabo la política ambiental de la empresa” (Mora, 2001).

                    p.text-left.pl-5.pr-5.mb-4 Las organizaciones juegan un papel relevante en la Gestión Ambiental y en la protección del ambiente, ya que, de manejarse adecuadamente los aspectos e impactos ambientales, se puede contribuir de manera activa en la sostenibilidad ambiental a través del cumplimiento de la respectiva normatividad.

                    p.text-left.pl-5.pr-5.mb-4 Acciones tales como: prevenir la contaminación, evaluar el impacto de sus actividades, productos y procesos con enfoque de ciclo de vida e intervenir a través de buenas prácticas ambientales, estrategias de producción más limpia sobre sus emisiones, residuos y vertimientos; en un marco de sostenibilidad que garanticen la conservación de la biodiversidad, la disminución de la huella ecológica e incorporando criterios de mejoramiento continuo.

                br
                br

            .col-11.m-auto

                h2#tema-31.mt-5 3.1. Evaluación de impacto ambiental
                    
                    br
                    br

                    .col-11.m-auto

                        p.mb-4 La Evaluación de Impacto Ambiental (EIA) es un instrumento o herramienta de carácter preventivo, encaminado a identificar las consecuencias ambientales de la ejecución y funcionamiento de una actividad humana, con el fin de establecer las medidas preventivas y de control que hagan posible el desarrollo de la actividad sin perjudicar, o perjudicando lo menos posible, al medio ambiente (Arboleda, 2008).

                        p La ley 99 de 1993 y el Decreto Único Reglamentario establece que los proyectos de alta significancia ambiental requieren presentar un Estudio de Impacto Ambiental para que la autoridad ambiental competente les otorgue la Licencia Ambiental, el cual es un requisito que debe tener antes de la ejecución del proyecto (Espinoza, 2002).

                        br

                        .row.mt-3.bg-purple-transparent.p-5.rounded.shadow-sm.mb-5

                            .col-auto

                                img(src="assets/images/pages/tema-3/tema-3-3.svg").img-fluid

                            .col 

                                h3 3.1.1. Objetivos

                                p Las organizaciones antes de empezar a implantar un sistema de gestión ambiental, deben evaluar sus impactos, les proporcionará un diagnóstico o línea base ambiental que le servirá de insumo para identificar, proponer e implementar las medidas de manejo ambiental correspondientes.

                        .row.mt-3.bg-purple-transparent.p-5.rounded.shadow-sm.mb-5

                            .col-auto

                                img(src="assets/images/pages/tema-3/tema-3-4.svg").img-fluid

                            .col 

                                h3 3.1.2. Beneficios

                                p Los costos de los proyectos son menores a largo plazo. Se mejora la planificación futura de los proyectos. Uso más eficiente y sostenible de los recursos naturales. (Arboleda, 2008)

                        .row.mt-3.bg-purple-transparent.p-5.rounded.shadow-sm.mb-5

                            .col-auto

                                img(src="assets/images/pages/tema-3/tema-3-5.svg").img-fluid

                            .col 

                                h3 3.1.3. Principios

                                ul
                                    li #[p Carácter preventivo.]
                                    li #[p Gradualidad.]
                                    li #[p Focalizada en lo significativo e importante.]
                                    li #[p Flexibilidad.]
                                    li #[p Objetiva.]
                                    li #[p Sistemática (Arboleda, 2008).]
                br
                br

                h2#tema-32.mt-5 3.2. Acciones de prevención, mitigación, corrección y compensación ambiental
                    
                    br
                    br

                    .col-11.m-auto

                        p.mt-4 Para intervenir sobre los impactos ambientales significativos que se evaluaron en la EIA, es necesario establecer las medidas de manejo ambiental tendientes a la prevención, mitigación, corrección y compensación ambiental. Estas son:
                
                        br
                        br

                        h3.mt-4 3.2.1. Medidas de manejo ambiental.

                        .text-center.mt-5

                            img(src="assets/images/pages/tema-3/tema-3-6.png").img-fluid

                        br
                        br

                        h3 3.2.2. Producción más limpia

                        br

                        .row

                            .col

                                p.mb-4 La Producción Más Limpia (PML) se define como la aplicación continua de una estrategia ambiental preventiva integrada a los procesos, productos y servicios para aumentar la eficiencia global y reducir los riesgos para los seres humanos y el medio ambiente (UNIDO, 1992).

                                p Igualmente se puede definir como la aplicación continua de una estrategia ambiental preventiva e integrada, enfocada en procesos, productos y servicios, con el fin de reducir los riesgos a la población y al medio ambiente. Tiene como principio reducir al mínimo o eliminar los residuos y emisiones en la fuente y no tratarlos después de que se hayan generado (Secretaria Distrital de Ambiente Bogotá, s.f.).

                            .col-auto

                                img(src="assets/images/pages/tema-3/tema-3-7.svg").img-fluid
                        br
                        br
                
                h2#tema-33.mt-5 3.3. Sistema de Gestión Ambiental
                    
                    br
                    br

                    .col-11.m-auto

                        p Los Sistemas de Gestión Ambiental (SGA) están integrados con la actividad de gestión general de la organización, en los que se incluyen todos los aspectos que tienen repercusión en el medio ambiente (Ihobe, 2008).
                        
                        h3.mt-5 3.3.1. Objetivos del SGA

                        p.mt-3 Algunos de los propósitos de implementar y mantener un Sistema de Gestión Ambiental son:

                        .text-center.mt-5

                            .col-10.m-auto

                                img(src="assets/images/pages/tema-3/tema-3-8.svg" style="position:relative;z-index:1;").img-fluid

                                .bg-purple-transparent.p-5.rounded.shadow-sm(style="margin-top:-40px;")
                                    
                                    .row.mb-3.mt-5

                                        .col-auto

                                            img(src="assets/images/icons/tema-1/tema-1-5.svg").img-fluid

                                        .col

                                            p.text-left Identificar y controlar aspectos e impactos ambientales.

                                    .row.mb-3

                                        .col-auto

                                            img(src="assets/images/icons/tema-1/tema-1-5.svg").img-fluid

                                        .col

                                            p.text-left Lograr la política ambiental, los objetivos, metas y cumplir los requisitos legales.

                                    .row.mb-3

                                        .col-auto

                                            img(src="assets/images/icons/tema-1/tema-1-5.svg").img-fluid

                                        .col

                                            p.text-left Definir principios y responsabilidades ambientales.

                                    .row.mb-3

                                        .col-auto

                                            img(src="assets/images/icons/tema-1/tema-1-5.svg").img-fluid

                                        .col

                                            p.text-left Establecer metas ambientales de corto, mediano y largo plazo.

                                    .row.mb-3

                                        .col-auto

                                            img(src="assets/images/icons/tema-1/tema-1-5.svg").img-fluid

                                        .col

                                            p.text-left Equilibrar los costos y beneficios

                                    .row.mb-3

                                        .col-auto

                                            img(src="assets/images/icons/tema-1/tema-1-5.svg").img-fluid

                                        .col

                                            p.text-left Designar recursos y responsabilidades

                                    .row.mb-3

                                        .col-auto

                                            img(src="assets/images/icons/tema-1/tema-1-5.svg").img-fluid

                                        .col

                                            p.text-left Definir y documentar, tareas, responsabilidades, competencias y procedimientos.

                                        
                        br
                        br

                        h3 3.3.2. Programas ambientales

                        p.mt-4.mb-3 Se diseñan de acuerdo a los objetivos planteados, a la priorización y a la evaluación. Deben ser definidos de acuerdo con la disponibilidad de recursos.

                        p Los que tienen relación directa con el cumplimiento de Requisitos Legales deben tener prioridad. Entre los más frecuentes se encuentran:

                        .text-center.mt-5

                            .col-11.m-auto

                                .row.mb-1.mt-5

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de ahorro y uso eficiente de la energía.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de Ahorro y uso eficiente del agua.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de Gestión integral de residuos sólidos ordinarios y peligrosos.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de control de la contaminación (Vertimientos, emisiones, ruido).

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de formación y/o capacitación.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de auditoría.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de emisiones al aire o de reducción de la contaminación atmosférica.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de ahorro y optimización de recursos.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de orden y aseo.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de fauna y flora.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de revegetalización.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de gestión social.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de gestión legal o de cumplimiento legal.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de desarrollo de competencias.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de desarrollo de proveedores.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de mantenimiento preventivo.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Programa de gestión ambiental del transporte.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Otros programas (Barrera, 2012).

                        br
                        br

                        h3 3.3.3. Buenas prácticas ambientales

                        .row.mt-5

                            .col

                                p Las Buenas Prácticas Ambientales (BPA), son medidas sencillas y útiles que podemos adoptar tanto los trabajadores y trabajadoras como las empresas de cara a reducir el impacto ambiental negativo de sus actividades. Son acciones que implican cambios en la organización y, fundamentalmente, en el comportamiento y los hábitos de las personas para disminuir riesgos ambientales, promover el ahorro de recursos y una gestión sostenible de la actividad empresarial.

                            .col-auto

                                img(src="assets/images/pages/tema-3/tema-3-10.svg").img-fluid

                        p.mt-5.mb-3 En la mayoría de los casos son cambios simples, de aplicación relativamente sencilla y de gran aceptación dentro de la empresa; son medidas que pueden mejorar la competitividad empresarial a cambio de un nulo o bajo coste económico de implantación (UGT, s.f.).

                        p A continuación, podrá observar las BPA más frecuentes que se pueden implementar en cualquier tipo de organización, en nuestros hogares y en los lugares de trabajo:

                        .text-center.mt-5

                            .col-11.m-auto

                                .row.mb-1.mt-5

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Medidas de ahorro de agua.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Consumo racional de energía.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Reducción de las necesidades de material.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Criterios de sostenibilidad en la compra de bienes y servicios.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Producción limpia de bienes y servicios.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Almacenamiento adecuado para evitar pérdida de recursos.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Gestión de los residuos generados.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Mantenimiento preventivo.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Medidas ambientales en las actividades de limpieza.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Transporte y movilidad sostenibles.

                                .row.mb-1

                                    .col-auto

                                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid

                                    .col

                                        p.text-left Compromiso con el medio ambiente de clientes/as y usuarios/as (Arcovaloraciones, 2020).

                br
                br

                h2#tema-34.mt-5 3.4. Mejora Continua y ambiente.
                    
                    br
                    br

                    .col-11.m-auto

                        p El término mejora continua ISO 14001 se utiliza para identificar la necesidad de mejora sistemática en diferentes procesos dentro del Sistema de Gestión Ambiental con el fin de proporcionar mejoras en general. También se puede definir como una actividad recurrente para mejorar el desempeño (ISO, 2020).

                        .text-center.mt-5

                            .col-10.m-auto

                                img(src="assets/images/pages/tema-3/tema-3-11.svg").img-fluid

                                .cont-1.p-4.mb-4

                                    h3.text-azul-oscuro.text-left Acción correctiva

                                    .pl-3.text-left

                                        p.text-azul-oscuro.mb-2 Aprender de los problemas y actuar para que no se vuelvan a presentar.

                                        ul

                                            li.list-cont-1.mb-1 Identificar áreas con problemas.
                                            li.list-cont-1.mb-1 Disposiciones para mitigar impactos.
                                            li.list-cont-1.mb-1 Responsabilidades para investigar y actuar.
                                            li.list-cont-1.mb-1 Metodología (causalidad/ solución).
                                            li.list-cont-1.mb-1 Solución de Problemas identificados.

                                .cont-1.p-4.mb-4

                                    h3.text-azul-oscuro.text-left ¿Cuándo se toman acciones correctivas?

                                    .pl-3.text-left

                                        ul

                                            li.list-cont-1.mb-1 Incumplimiento legislación.
                                            li.list-cont-1.mb-1 Incumplimiento otros requisitos.
                                            li.list-cont-1.mb-1 Quejas de la comunidad.
                                            li.list-cont-1.mb-1 No conformidades en auditoría.
                                            li.list-cont-1.mb-1 Accidentes, emergencias, baja prevención.

                                .cont-1.p-4.mb-4

                                    h3.text-azul-oscuro.text-left Acción preventiva

                                    .pl-3.text-left

                                        ul

                                            li.list-cont-1.mb-1 Prevenir problemas potenciales y actuar para que no se presenten.
                                            li.list-cont-1.mb-1 Identificar fuentes de información.
                                            li.list-cont-1.mb-1 Responsabilidades para investigar y actuar.
                                            li.list-cont-1.mb-1 Metodología Análisis causalidad y solución.
                                            li.list-cont-1.mb-1 Eliminación causa del problema potencial.

                                .cont-1.p-4.mb-2

                                    h3.text-azul-oscuro.text-left ¿Cuándo se toman acciones preventivas?

                                    .pl-3.text-left

                                        ul

                                            li.list-cont-1.mb-1 Tendencias desfavorables de indicadores.
                                            li.list-cont-1.mb-1 Modificación de normas.
                                            li.list-cont-1.mb-1 Se presentan incidentes.
                                            li.list-cont-1.mb-1 Nueva evidencia científica.

                                .text-center

                                    p.text-azul-oscuro Acciones correctivas en otras áreas (González, 2005).

                                br
                                br

                                .text-center.mt-5

                                    .bg-color-5.shadow-sm.rounded-top.p-3.col-12.m-auto

                                    .text-left.col-12.m-auto.pb-1.shadow

                                        .pl-5.pt-3.pr-5

                                            h2.mb-3 !Aprendices¡
                                    
                                    .bg-color-5.shadow.p-5.col-12.m-auto.mb-0

                                        p.text-left Para ampliar la información suministrada sobre las herramientas de gestión para el medio ambiente visualizar el siguiente material de apoyo.

                                    .bg-color-4.shadow.p-5.col-12.m-auto.rounded

                                        section.my-5

                                            a(href="media/ANEXO_2_HERRAMIENTAS_PARA_LA_GESTION_AMBIENTAL.pptx" target="_blank").media-link      
                                
                                                img(src="assets/images/pages/tema-1/tema-1-3.svg", alt="").media-link-icon

                                                .media-link-title
                                                    p #[strong Anexo] 2. Herramientas para la gestión ambiental. 